.top-bar {
  height: 90px;
  background-color: $background-dark;

  .ui-grid {
    margin: 0;
    padding: 0;
    .column {
      padding: 0;
    }
  }

  &__left {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    img {
      height: 50px;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;

      &:hover {
        -webkit-transform: translateX(-15px);
            -ms-transform: translateX(-15px);
                transform: translateX(-15px);
      }
    }
  }

  &__right {
    background-color: blue;
  }
}
