.top-bar {
  height: 90px;
  background-color: $background-dark;

  .ui-grid {
    margin: 0;
    padding: 0;
    .column {
      padding: 0;
    }
  }

  &__left {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    img {
      height: 50px;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;

      &:hover {
        -webkit-transform: translateX(-15px);
        -ms-transform: translateX(-15px);
        transform: translateX(-15px);
      }
    }
  }

  &__right {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;

    .ui.icon.input > input {
      padding-right: 5px !important;
    }

    .ui.input {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-right: 25px;

      input {
        background-color: transparent !important;
        border: 0;
        border-bottom: solid $primary !important;
        border-radius: 0;
        color: $primary !important;
        padding: 5px 0;
        width: 220px;
        font-size: 20px;
        -webkit-transition: width 0.7s;
        -o-transition: width 0.7s;
        transition: width 0.7s;

        &:focus {
          width: 350px;
        }
      }
      i {
        color: $primary;
        opacity: 1 !important;
        font-size: 25px;
        right: -50px !important;
      }
    }
  }
}
