.account {
  &__configuration,
  &__addresses {
    position: relative;
    padding: 10px;

    .title {
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      background-color: $background-dark-absolute;
      color: $font-light;
      padding: 5px 10px;
      border-radius: 5px 5px 0 0;
    }

    .data {
      background-color: $background-light;
      -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
    }
  }
  &__addresses {
    .title {
      i {
        position: absolute;
        right: 10px;
        color: $font-dark;
      }
    }
  }
}
